body {
  background: rgb(255, 255, 255) url("../img/mf-18-newyork.jpeg") no-repeat center center fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
}




/** https://www.youtube.com/watch?v=z1oupW7jVYg **/
#clock {
  top:10%;
  left: 5%;
  border-radius: 50%;

  background:rgba(255, 90, 8, 0.6) url(../img/clockimage.png);
  filter:invert();
  height: 360px;
  width: 360px;
  background-size: 100%; 
  position:relative;
}

#seconds, #minutes {
  position: absolute;
  top: 30%;
  left: 50%;
  height: 40%;
  width: 40%;
  transform: rotate(-90deg);
  transform-origin:0%;
}

#minutes {
  height: 30%;
  width: 30%;
  top:35%;
}

@keyframes rotate {
  0% {transform: rotate(0deg);}
  
  100% {transform:rotate(360deg);}
}

@keyframes rotate2 {
  0% {transform: rotate(0deg);}
  
  100% {transform:rotate(30deg);}
}

#seconds {
  animation: rotate 60s infinite linear;
}

#minutes {
  animation: rotate2 120s infinite linear;
}



img {
  width: 100%;
  height: 100%;
}

.modal {
  width: 40%;
  height: 200px;
  background: rgba(120, 120, 120, 0.713);
  color: #fff;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  right:5%;
  bottom:5%;
  text-align: center;
  padding: 15px;
}

.modal button {
  width:60%;
  margin: 0 auto;
  padding:5px;
}

a:visited {color:inherit;}

button a:link, button a:visited {
  text-decoration: none;
  color:inherit;
}

button:hover {
  background-color: #00f2ee;
  color:#fff;
  cursor: pointer;
}